
/*========================
 Transitions
 ========================*/
.searchfield:focus, .searchfield:not(:focus) {
	-webkit-transition-property: width;
	-webkit-transition-duration: 0.5s, 0.5s;
	-webkit-transition-timing-function: linear, ease-out;
}
.lb-album {
	margin: 0 auto;
	padding:0;
	list-style:none;
}
.lb-album li {
	width:20%;
	height: 350px;
	float: left;
	position: relative;
}
.lb-album li:nth-child(4), .lb-album li:nth-child(8), .lb-album li:nth-child(12) {
	margin-right: 0;
}
.lb-album li > a, .lb-album li > a img {
	display: block;
	width: 100%;
	height: 350px;
}
.lb-album li > a {
	position: relative;
}
.lb-album{	
	border:1px dashed #ccc;
}
.lb-album li > a span {
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
	line-height:10em;
	color: #fff;
	font-size: 24px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	background:rgba(232, 58, 147, 0.45);
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}
.lb-album li > a:hover span {
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-overlay {
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
	background:#000;
}
.lb-overlay > div {
	position: relative;
	color: rgba(27,54,81,0.8);
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	width: 550px;
	margin: 10px auto 0px auto;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	-webkit-transition: opacity 0.3s linear 1.3s;
	-moz-transition: opacity 0.3s linear 1.3s;
	-o-transition: opacity 0.3s linear 1.3s;
	-ms-transition: opacity 0.3s linear 1.3s;
	transition: opacity 0.3s linear 1.3s;
}
.lb-overlay div h3, .lb-overlay div p {
	padding: 0px 20px;
	width: 200px;
	height: 160px;
	color: #fff;
}
.lb-overlay div h3 {
	color: #fff;
	font-size:30px;
	float: left;
	text-align: right;
	border-right: 1px solid rgba(27,54,81,0.4);
}
.lb-overlay div h3 span, .lb-overlay div p {
	font-size: 13px;
	font-style: italic;
}
.lb-overlay div h3 span {
	display: block;
	line-height: 6px;
}
.lb-overlay div p {
	text-align: left;
	float: left;
	width: 260px;
}
.lb-overlay a.lb-close {
	font-size: 0.924em;
	padding: 4px;
	background: rgba(64, 72, 109, 0.61);
	z-index: 1001;
	color: #fff;
	position: absolute;
	top: 90px;
	left: 50%;
	font-size: 15px;
	line-height: 26px;
	text-align: center;
	width: 50px;
	height: 23px;
	overflow: hidden;
	margin-left: -25px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-webkit-transition: opacity 0.3s linear 1.2s;
	-moz-transition: opacity 0.3s linear 1.2s;
	-o-transition: opacity 0.3s linear 1.2s;
	-ms-transition: opacity 0.3s linear 1.2s;
	transition: opacity 0.3s linear 1.2s;
}

.lb-overlay img {
	/* height: 100%; For Opera max-height does not seem to work */
	height: 100%;
	width: 50%;
	position: relative;
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
}
.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 80px 100px 120px 100px;
}
.lb-overlay:target img {
	-webkit-animation: fadeInScale 1.2s ease-in-out;
	-moz-animation: fadeInScale 1.2s ease-in-out;
	-o-animation: fadeInScale 1.2s ease-in-out;
	-ms-animation: fadeInScale 1.2s ease-in-out;
	animation: fadeInScale 1.2s ease-in-out;
	display: inline-block;
}
.lb-overlay:target a.lb-close, .lb-overlay:target > div {
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
@-webkit-keyframes fadeInScale {
0% { -webkit-transform: scale(0.6); opacity: 0; }
100% { -webkit-transform: scale(1); opacity: 1; }
}
@-moz-keyframes fadeInScale {
0% { -moz-transform: scale(0.6); opacity: 0; }
100% { -moz-transform: scale(1); opacity: 1; }
}
@-o-keyframes fadeInScale {
0% { -o-transform: scale(0.6); opacity: 0; }
100% { -o-transform: scale(1); opacity: 1; }
}
@-ms-keyframes fadeInScale {
0% { -ms-transform: scale(0.6); opacity: 0; }
100% { -ms-transform: scale(1); opacity: 1; }
}
@keyframes fadeInScale {
0% { transform: scale(0.6); opacity: 0; }
100% { transform: scale(1); opacity: 1; }
}

/*
 100% Height for Opera as the max-height seems to be ignored, not optimal for large screens
 http://bricss.net/post/11230266445/css-hack-to-target-opera
 */
x:-o-prefocus, .lb-overlay img {
	height: 100%;
}
.lb-album h2 {
	color:#999;
	font-size:3em;
	font-weight:700;
}
.lb-album p {
	color:#333;
	font-size:13px;
	line-height:1.5em;
}
/*--plans--*/
.pricing{
	padding:5% 0 0%;
}
#plans,#plans ul,#plans ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#pricePlans {
	text-align: center;
}
#pricePlans #plans .plan {
	background: #fff;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 0 0 20px 0;
}
.planContainer .title h2 {
	font-size:1.1em;
	color: #3e4f6a;
	margin: 0;
	padding: .6em 0;
	padding: 25px 0;
}
.planContainer .title1 h3 {
	font-size:1.1em;
	color:#777;
	margin: 0;
	padding: .6em 0;
}
.planContainer .title h2.bestPlanTitle {
	color:#e83a93;
}
.text{
	padding: 0px 0 10px;
}
.planContainer .price p {
	color: #645035;
	font-size:2em;
	line-height:1.6em;
}
.planContainer .price p span {
	color:#B3823F;
}
.planContainer .options {
	margin-top: 10em;
}
.planContainer .options li {
	color: #777;
	line-height:2.5em;
	border-bottom: 1px solid #E9E9E9;
	font-size: 0.85em;
}
.planContainer .options li span {
	color: #333;
}
.planContainer .button a {
	background: #555;
	display: inline-block;
	padding: 10px 20px;
	margin: 1.5em 0 -15px;
	font-size: 1em;
}
.planContainer .button a:hover {
	color:#e83a93;
	background: #e83a93;
}
.planContainer .button a.bestPlanButton {
	background:#523E23;
}
.planContainer .button a.bestPlanButton {
	background:#e83a93;
	border:none;
}
.planContainer .button a.bestPlanButton:hover {
	background:#777;
}
#pricePlans #plans .plan {
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
li.plan-middle{
	width:30.9999%;
	margin: 0 3.33% 20px 0;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
#pricePlans #plans > li:last-child {
	margin-right: 0;
}
.planContainer .button a {
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}
.planContainer .price1 p {
	color:#e83a93;
}
